/*Estilos para la pagina del café*/

/*Selector Universal*/
*{
    padding: 0;
    margin: 0;
}

/*Selector de etiqueta*/

ul{
    text-align: center;
    display: inline;
}
li{
    text-align: center;
    display: inline;
    padding: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

aside ul li{
    display:block;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 1px;
    padding: 25px;
}

/*Selector de clase*/

.texto{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 5px 25px;
    color: white;
}

.encabezado{
    padding: 10px;
    text-align: justify;
    color: white;
    border-radius: 5px;
    line-height: 125px;
}

.navegacion{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 20px 25px;
    color: white;
    line-height: 45px;
}

.pie{
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/*Selector de ID */

#contenedor{
    width: 900px;
    height: 1000px;
    background-color: #f1ecea;
    max-width: 0 auto;
    border-radius: 5px;
}

#encabezado{
    height: 15%;
    background-color: #3a251c;
    margin: 1em;
    padding: 0 50px;
    color: white;
}

#menu{
    height: 5%;
    background-color: #b46424;
    margin: 1em;
    border-radius: 5px;
}

#contenido{
    height: 64%;
    width: 64%;
    background-color: #362f2f;
    margin: 0.5m;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

#aside{
    height: 64%;
    width: 30%;
    background-color: #b58c7c;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    color: white;
}

#pie{
    height: 10%;
    background-color: #3a251c;
    padding: 5px;
}

/*evento*/

li a:hover{
    
    color: crimson;
    text-decoration: none;
    list-style: none;
}