/*Estilos para la pagina de gatos*/

/*Selector universal*/
*{
    padding: 0;
    margin: 0;
}

/*Selector de etiqueta*/

img{
    width: 150px;
    border-radius: 1px;
    padding: 5px;
    justify-items: left;

}

body{
    background-color: bisque;
}

ul{
    text-align: center;
    display: inline;
}

li{
    text-align: center;
    display: inline;
    padding: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

aside ul li{
    display:block;
}

/*Selector de clase */


.texto{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: black;
}

.navegacion{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 5px 5px;
    color: black;
    
}

/*Selector ID*/
#contenedor {
    width: 900px;
    height: 1000px;
    background-color: bisque;
    max-width: 0 auto;
    border-radius: 5px;
}

#encabezado{
    height: 15%;
    background-color: #3a251c;
    margin: 1em;
    padding: 0 50px;
    color: white;
}

#menu{
    height: 6%;
    background-color: burlywood;
    margin: 1em;
    border-radius: 5px;
}

#contenido{
    width: 60%;
    height: 75%;
    background-color: rgb(182, 124, 73);
    margin: 0.5m;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

#aside{
    width: 30%;
    height: 75%;
    background-color: cadetblue;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    color: black;
}

#pie{
    height: 10%;
    background-color: slategray;
    padding: 5px;
}

/*evento*/
li a:hover{
    
    color: rgb(9, 156, 46);
    text-decoration: none;
    list-style: none;
}